# OS
.DS_Store
Thumbs.db
# IDE
.buildpath
.project
.settings/
.build/
.idea/
public/
nbproject/

# FE
.bin/node_modules/
/node_modules/
src/node_modules/
src/npm-debug.log.*
npm-debug.log
/npm-debug.log*
/dist/
